.App {
  text-align: center;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: dimgray;
  height: 100px;
  padding: 20px;
  font-size: 3rem;
}

.App-title {
  font-size: 3rem;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

.form-horizontal {
  width: 40% !important;
  margin-left: 30%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image {
  width: 300px;
}

.headers {
   font-weight: bold;
   font-size: 2rem;
   background-color: lightgray;
}

.movieTitle {
  font-weight: bold;
  font-size: 3rem;
  background-color: dimgray;
}